/*
CSS for overall body/html and 
specifically index.html
*/

#davidshryock{
	text-align: center;
	color: #191918;
	font-size: 70px;
	position: relative;
	text-shadow: 2px 0px #191918;
}

body{
	background-color: #ffffff;

}

nav{
	text-align: center;
	list-style: none;
	position: relative;
}

nav ul{
	margin-top: 75px;


}

nav ul li{
	list-style-type: none;
	float: left;
	width: 125px;
	text-align: center;
	margin-left: 18.5%;


}

nav ul li a{
	text-decoration: none;
	color: #595959;
	display: block;
	font-size: 25px;


}

nav ul li a:hover{
	font-size: 28px;
	border-bottom: 2px solid #191918;
	color: #191918;
	padding-bottom: 5px;
}

#aboutMe{
	color: #191918;
	float: right;
	height: 300px;
	width: 300px;
	margin-top: 15%;
	margin-right: 33%;
	overflow: visible;
	text-align: justify;
	


}

.trebuchet{
	font-family: "Trebuchet MS";
}

html{


}

#headerImage{
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;


}

#aboutMePic{
	float: left;
	height: 300px;
	width: 300px;
	box-shadow: 10px 10px #595959;
	margin-top: 15%;
	margin-left: 32%;

}

#footerImage{

	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}





/*
CSS for resumePage.html
*/
#resume{
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}